@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
    --azul-header: #041e4f;
    --azul-botones: rgb(101, 101, 255);
    --texto-normal: #000;
    --texto-opaco: #bfbfbf;
    --texto-blanco: #fff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

img {
    width: 100%;
}

h4 {
    font-size: 25px;
}

a {
    all: unset;
}

span {
    font-size: 20px;
}

.contenedor {
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.fondo-aico {
    background-color: #041e4f !important;
}

.formulario {
    display: flex;
    flex-direction: column;
    padding: 40px 60px;
}

.label {
    margin: 8px 0;
    font-weight: 600;
}

.input {
    padding: 8px;
    margin-bottom: 24px;
    font-size: 16px;
}

.btn-submit {
    padding: 12px 14px;
    margin: 20px;
    background-color: var(--azul-botones);
    color: var(--texto-blanco);
    border: 1px var(--azul-botones);
    border-radius: 16px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: var(--texto-blanco);
    color: var(--texto-normal);
    border: 1px solid var(--azul-botones);
    transition: all ease-in 0.3s;
}

.btn-link {
    padding: 12px 14px;
    margin: 20px;
    background-color: var(--azul-botones);
    color: var(--texto-blanco);
    border: none;
    border-radius: 16px;
    font-size: 16px;
    text-decoration: none;
}

.btn-link:hover {
    background-color: var(--texto-blanco);
    color: var(--texto-normal);
    border: 1px var(--azul-botones);
    transition: all ease-in 0.3s;
}

.titulo-reg {
    margin-bottom: 8px;
}

.subt-reg {
    font-weight: 300;
    color: var(--texto-opaco);
    margin-bottom: 24px;
    font-size: 16px;
}

.center {
    text-align: center;
}

.aqui {
    cursor: pointer;
    color: var(--azul-botones);
}

.top-header {
    background-color: var(--azul-header);
    color: var(--texto-blanco);
    padding: 8px;
}

.top-header-space {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
}

.logo-grupo-aico {
    width: 200px;
    height: 110px;
    margin: 15px;
    margin-left: 50px;
    cursor: pointer;
}

.nav-text {
    color: var(--azul-header);
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}

.nav-text:hover {
    color: var(--azul-botones);
}

.footer-bg {
    background-color: var(--azul-header);
    color: var(--texto-blanco);
    font-size: 20px;
}

.footer-space {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 14px;
}

.icono {
    width: 20px;
    cursor: pointer;
    margin-right: 4px;
}

.icono-footer {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.icono-top-header {
    width: 15px;
    cursor: pointer;
    margin-top: 3px;
    margin-right: 10px;
}

.espacio-footer {
    padding-bottom: 15px;
}

.error {
    border: 1px solid red;
    background-color: pink;
    padding: 4px;
    margin: 12px 0;
    text-align: center;
}
