*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
    --azul-AICO: #041e4f;
    --azul-AICO2: rgb(0, 51, 153);
    --azul-botones: rgb(101, 101, 255);
    --azulbg: #2a6fdb;
    --azulbg-hover: #bdd7ff;
    --negro: #000;
    --gris: #bfbfbf;
    --blanco: #fff;
    --eliminarbg: #ff331f;
    --eliminarbg-hover: #fadbd8;
    --eliminartitle: #78261f;
    --eliminar-border: #f8ccc8;
    --gradient: linear-gradient(to left, var(--azul-AICO2), var(--azul-AICO));
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

img {
    width: 100%;
}

h4 {
    font-size: 25px;
}

a {
    all: unset;
}

span {
    font-size: 20px;
}

table {
    border-collapse: collapse;
    display: block;
    overflow-x: auto;
}

/* GLOBALES --------- */

.contenedor {
    max-width: 1000px;
    height: 700px;
    margin: 120px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.contenedor2 {
    max-width: 1000px;
    height: 700px;
    margin: 120px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
}

.center {
    text-align: center;
}

.space-around {
    justify-content: space-around;
}

.fw-700 {
    font-weight: 700;
}

.centrar {
    display: flex;
    justify-content: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    padding: 40px 140px;
    text-align: center;
}

.contenedor-dash {
    display: flex;
    flex-direction: column;
    padding: 40px;
    text-align: center;
}

.contenedor-files {
    display: flex;
    flex-direction: column;
    padding: 25px;
    text-align: center;
}

.label {
    margin: 8px 0;
    font-weight: 600;
}

.input-round {
    padding: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 16px;
    border-radius: 18px;
    border-color: var(--negro);
}

.input-round2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.margin-bot-ex {
    margin-bottom: 20px;
}

.btn-submit {
    padding: 12px 14px;
    margin: 20px;
    background-color: var(--azul-botones);
    color: var(--blanco);
    border: 1px solid var(--azul-botones);
    border-radius: 16px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

.btn-submit:hover {
    transition: all ease-in 0.3s;
    background-color: var(--blanco);
    color: var(--negro);
    border: 1px solid var(--azul-botones);
}

.btn-editar {
    padding: 12px 40px;
    margin: 20px;
    background-color: var(--azulbg);
    color: var(--blanco);
    border: 1px solid var(--azulbg);
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

.btn-editar:hover {
    transition: all ease-in 0.3s;
    background-color: var(--azulbg-hover);
    color: var(--azul-AICO2);
    border: 1px solid var(--azulbg-hover);
}

.btn-eliminar {
    padding: 12px 40px;
    margin: 20px;
    background-color: var(--eliminarbg);
    color: var(--blanco);
    border: 1px solid var(--eliminar-border);
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

.btn-eliminar:hover {
    transition: all ease-in 0.3s;
    background-color: var(--eliminarbg-hover);
    color: var(--eliminartitle);
    border: 1px solid var(--eliminarbg-hover);
}

.btn-cancelar {
    padding: 12px 40px;
    margin: 20px;
    background-color: #aaa;
    color: var(--blanco);
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

.btn-cancelar:hover {
    transition: all ease-in 0.3s;
    background-color: var(--blanco);
    color: var(--negro);
    border: 1px solid #aaa;
}

.eliminar_proyecto {
    padding: 12px 12px;
    font-size: 14px;
    transition: 0.5s;
}

.eliminar_proyecto.active {
    margin-right: -180px;
    transition: 0.5s;
}

.pointer {
    cursor: pointer;
}

.pad-top {
    padding-top: 20px;
}

.card-cont {
    display: block;
    justify-content: space-evenly;
}

.card-cont h2 {
    padding-bottom: 20px;
}

.card-cont label {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 20px;
}

.card-sty {
    background-color: var(--blanco);
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.error {
    border: 1px solid #f8ccc8;
    background-color: #fadbd8;
    color: #78261f;
    padding: 4px;
    margin: 12px 0;
    text-align: center;
}

.created {
    border: 1px solid #14b8a6;
    background-color: #ccfbf1;
    color: #134e4a;
    padding: 18px 12px;
    margin: 12px auto;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
    border-radius: 12px;
}

.eliminated {
    border: 1px solid #f8ccc8;
    background-color: #fadbd8;
    color: #78261f;
    padding: 18px 12px;
    margin: 12px auto;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
    border-radius: 12px;
}

.close-alert {
    color: #aaa;
    float: right;
    font-size: 26px;
    font-weight: bold;
    margin-top: -20px;
    margin-right: -6px;
}

.close-alert:hover,
.close-alert:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.w-50 {
    width: 50px;
}

.frame-file {
    width: 90%;
    height: 600px;
}

.m-y-20 {
    margin-bottom: 40px;
}

/* --------- GLOBALES */

/* HEADER AICO --------- */

.fondo-aico {
    background-color: #041e4f !important;
}

.top-header {
    background-color: var(--azul-AICO);
    color: var(--blanco);
    padding: 8px;
}

.top-header-space {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
}

.logo-grupo-aico {
    width: 200px;
    height: 110px;
    margin: 15px;
    margin-left: 50px;
    cursor: pointer;
}

.icono {
    width: 20px;
    cursor: pointer;
    margin-right: 4px;
}

.icono-top-header {
    width: 15px;
    cursor: pointer;
    margin-top: 3px;
    margin-right: 10px;
}

.nav-text {
    color: var(--azul-AICO);
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}

.nav-text:hover {
    color: var(--azul-botones);
}

.datos-header {
    justify-content: space-between;
}

/* --------- HEADER AICO */

/* FOOTER AICO --------- */

.footer-bg {
    background-color: var(--azul-AICO);
    color: var(--blanco);
}

.footer-space {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 14px;
}

.icono-footer {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.espacio-footer {
    padding-bottom: 15px;
}

/* --------- FOOTER AICO */

/* LOGIN --------- */

.back-azul {
    background-color: #041e4f;
}

.cuentas {
    height: 40px;
    width: 40px;
}

.margen-login {
    margin-top: 12px;
    margin-bottom: 0px;
}

.card-izq {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--blanco);
    text-align: center;
    padding: 0 40px;
}

.margin-bottom {
    margin-bottom: 20px;
}

.aqui {
    cursor: pointer;
    color: var(--azul-botones);
}

.card-sty-login {
    background-color: var(--blanco);
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* --------- LOGIN */

/* REGISTRO --------- */

.contenedor-reg {
    max-width: 1000px;
    height: 700px;
    margin: 120px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-aico-reg {
    width: 200px;
    height: 110px;
    margin: 40px auto;
    margin-bottom: 80px;
}

.titulo-reg {
    margin-bottom: 8px;
}

.subt-reg {
    font-weight: 300;
    color: var(--gris);
    margin-bottom: 24px;
    font-size: 16px;
}

.gap-r {
    margin-right: 10px;
}

.gap-l {
    margin-left: 10px;
}

.mb-40 {
    margin-bottom: 40px;
}

/* --------- REGISTRO */

/* DASHBOARD --------- */

.container {
    position: relative;
    width: 100%;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.transform-dash {
    text-transform: initial;
}

.grid-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 0;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 600px;
    gap: 20px;
}

.dash-card {
    padding: 20px;
}

.dash-one-card {
    margin: 0 auto;
    max-width: 600px;
    font-weight: 700;
    margin-bottom: 60px;
}

.mtb-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.navigation {
    position: fixed;
    width: 200px;
    height: 100%;
    background: var(--azul-AICO);
    border-left: 10px solid var(--azul-AICO);
    transition: 0.5s;
    overflow: hidden;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.navigation ul li {
    position: relative;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    cursor: pointer;
}

.navigation ul li:hover {
    background: var(--blanco);
}

.navigation ul li:nth-child(1) {
    margin-top: 4px;
    margin-bottom: 5px;
}

.navigation ul li:nth-child(n + 2) {
    margin: 20px 0;
}

.navigation ul li:last-child {
    justify-self: flex-end;
}

.navigation ul li:nth-child(1):hover {
    background: transparent;
}

.btn-menu {
    align-self: center;
    transition: 0.5s;
}

.back-to {
    transition: 0.5s;
    margin-right: 130px;
}

.navigation ul li:last-child {
    bottom: 0;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--blanco);
    padding: 5px 0;
}

.navigation ul li:hover a {
    color: var(--azul-AICO);
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.75em;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 0px;
    /* height: 60px; */
    /* line-height: 60px; */
    /* white-space: nowrap; */
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: 700;
}

.navigation ul li a span {
    font-size: 16px;
}

.linea2 {
    border: 1px solid #fff;
    margin: 5px 10px 5px 0px;
    transition: 0.5s;
}

.linea2.active {
    border: 1px solid #fff;
    margin-right: 130px;
    transition: 0.5s;
}

.linea3 {
    border: 1px solid #fff;
    margin: 5px 10px 5px 0px;
    transition: 0.5s;
}

.linea3.active {
    border: 1px solid #fff;
    margin-right: 130px;
    transition: 0.5s;
}

.linea4 {
    border: 1px solid #fff;
    margin: 5px 10px 5px 0px;
    transition: 0.5s;
}

.linea4.active {
    border: 1px solid #fff;
    margin-right: 130px;
    transition: 0.5s;
}

.main {
    position: absolute;
    width: 100%;
    left: 200px;
    min-height: 100vh;
    background: var(--blanco);
    transition: 0.5s;
}

.main.active {
    width: calc(100% - 80px);
    left: 80px;
    right: 330px;
}

.main div .mail {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.topbar {
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
    margin-right: 200px;
    transition: 0.5s;
    box-shadow: 0px 0px 8px 0px rgba(100, 100, 111, 0.2);
}

.baract {
    margin-right: 0px;
    transition: 0.5s;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
    color: #fff;
}

.user {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0 12px;

    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tabcontainer {
    padding: 40px 150px;
    margin-right: 200px;
    transition: 0.5s;
    font-size: 17px;
}

.tabcontainer.active {
    margin-right: 1px;
    transition: 0.5s;
}

/* --------- DASHBOARD */

/* PERFIL --------- */

.contenedor-usuario {
    display: flex;
    justify-content: center;
}

.perfil-usuario {
    display: flex;
    flex-direction: column;
    padding: 40px 80px;
}

.perfil-usuario2 {
    display: flex;
    flex-direction: column;
    padding: 40px 80px;
    margin-top: 20px;
}

.perfil-usuario2 h3 {
    margin-bottom: 20px;
}

.perfil-usuario2 label {
    margin: 10px 0px;
}

.input-space {
    padding: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 16px;
    border-color: #bfbfbf;
}

.sin-borde {
    border: none;
    border-bottom: 2px solid var(--azul-botones);
}

.sin-margen {
    margin-bottom: 0px;
}

.linea-azul {
    border: solid 1px var(--azul-botones);
}

/* --------- PERFIL */

/* MIS PROYECTOS ------ */

.projects-cards {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.project-card {
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px 16px 60px;
    display: block;
    height: 150px;
}

.project-card h3 {
    margin-bottom: 20px;
    font-size: 24px;
    color: var(--azul-AICO2);
}

.project-card h4 {
    font-size: 16px;
    text-decoration: dashed;
}

.project-actions {
    display: flex;
    justify-content: end;
    position: absolute;
    bottom: 1px;
    right: 200px;
}

.fecha {
    font-weight: 300;
    color: var(--gris);
    font-size: 16px;
    margin-top: 30px;
}

/* ------MIS PROYECTOS */

/* MODAL --------- */

.modal-pr {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modalpr-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 40px;
    padding-top: 60px;
    border: 1px solid #888;
    width: 35%;
    text-align: center;
    border-radius: 10px;
}

.modalpr-content hr {
    border-bottom: 1px solid #ccc;
    margin: 12px 1px;
}

.close-pr {
    color: #aaa;
    float: right;
    font-size: 34px;
    font-weight: bold;
    margin-top: -55px;
    margin-right: -30px;
}

.close-pr:hover,
.close-pr:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.borrar-proyecto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* --------- MODAL */

/* PROYECTO ------ */
.contenedor-mis-proyectos {
    display: grid;
    grid-template-columns: 1fr;
}

.crear-mi-proyecto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.vista-proyecto {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.contenedor-tareas {
    display: flex;
    flex-direction: column;
}

.contenedor-tareas h2 {
    background: var(--azul-AICO2);
    color: var(--blanco);
    padding: 10px 0px;
}

.contenedor-tareas th {
    padding: 10px 15px;
}

.columna {
    padding: 10px 80px;
    background: var(--azul-AICO2);
    color: var(--blanco);
}

tbody tr {
    border-top: 1px solid;
}

.fila td {
    padding: 12px 0px;
}

tbody .btn-editar,
tbody .btn-eliminar {
    padding: 8px 15px;
    margin: 10px;
}

.titulo-tareas {
    color: var(--azul-AICO);
    font-size: 36px;
    padding-bottom: 30px;
}

.subt-tareas {
    font-size: 20px;
    padding-bottom: 40px;
}

.padding-edit-pr {
    padding: 150px 300px;
}

/* ------ PROYECTO */

/* BARRA DE PROGRESO ------ */

.termo-space {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 600px;
}

.inner {
    border-radius: 50%;
    position: relative;
    bottom: 70px;
    left: 4px;
}

#number {
    font-weight: 600;
    color: #555;
}

@keyframes anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader {
    margin-top: 20px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.tasks-dash {
    font-style: italic;
    font-size: 18px;
    margin-bottom: 12px;
}

/* ------ BARRA DE PROGRESO */

/* ------ ARCHIVOS */

.contenedor-archivos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.subir-archivos {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 20px;
    font-weight: 700;
    color: var(--negro);
    background-color: var(--blanco);
    display: inline-block;
    cursor: pointer;
    border-radius: 12px;

    transition: 0.3s;

    outline: 1px var(--negro);
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    color: var(--blanco);
    background-color: var(--azul-botones);
    outline: 1px var(--blanco);
    transition: 0.3s;
}

.contenedor-files label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-files label .icono ion-icon {
    font-size: 1.5em;
    margin-left: -15px;
}

/* ------ ARCHIVOS */

@media only screen and (min-width: 1200px) {
    .mov-nav {
        display: none;
    }
}

/* Escritorio */
@media only screen and (max-width: 1200px) {
    .mov-nav {
        display: none;
    }

    .vista-proyecto {
        grid-template-columns: 1fr;
    }

    .project-actions {
        bottom: auto;
    }
}

/* Laptop */
@media only screen and (max-width: 992px) {
    .contenedor {
        margin: 60px;
    }

    .formulario {
        padding: 40px;
    }

    .contenedor-reg {
        margin: 120px auto;
        height: 800px;
        max-width: 700px;
    }
}

/* Tablet */
@media only screen and (max-width: 820px) {
    .contenedor {
        margin: 40px;
        display: flex;
        flex-direction: column-reverse;
    }

    .card-izq {
        width: 100%;
        padding: 30px;
    }

    .formulario {
        padding: 100px;
        padding-bottom: 50px;
    }

    .pass-column {
        flex-direction: column;
    }

    .gap-l {
        margin-left: 0;
    }

    .gap-r {
        margin-right: 0;
    }

    .contenedor-reg {
        margin: 60px 20px;
    }

    .tabcontainer {
        padding: 40px 40px;
        margin-right: 200px;
        transition: 0.5s;
    }

    .margin-bot-tablet {
        margin-bottom: 40px;
    }

    .created {
        width: 80%;
    }

    .eliminated {
        width: 80%;
    }

    .modalpr-content {
        margin: 45% auto;
        padding: 10px;
        width: 60%;
    }

    .close-pr {
        margin-top: -9px;
        margin-right: 0px;
    }

    .borrar-proyecto {
        font-size: 20px;
    }
}

/* Movil */
@media only screen and (max-width: 600px) {
    nav {
        display: none;
    }

    .contenedor {
        margin: 60px 20px;
        display: flex;
        flex-direction: column-reverse;
    }

    .card-izq {
        width: 100%;
        padding: 30px;
    }

    .formulario {
        padding: 20px;
        padding-bottom: 50px;
    }

    .footer-space {
        align-items: center;
        flex-direction: column;
        gap: 40px;
    }

    .datos-header {
        margin: 0 auto;
    }

    .datos-redes {
        display: flex;
        justify-content: space-evenly;
        margin: 20px 0;
    }

    .top-header-space {
        flex-direction: column;
        justify-content: center;
    }

    .logo-grupo-aico {
        margin-left: 0px;
    }

    .modalpr-content {
        margin: 45% auto;
        padding: 10px;
        width: 60%;
        height: 38%;
    }

    .close-pr {
        display: none;
    }

    /* Dashboard */

    .navigation {
        display: none;
    }

    .main {
        position: unset;
    }

    .topbar {
        margin-right: 0px;
    }

    .tabcontainer {
        padding: 40px 15px;
        margin-right: 0px;
    }

    .projects-cards {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .project-actions {
        position: unset;
    }

    .vista-proyecto {
        grid-template-columns: 1fr;
    }

    /* Menu */

    .topbar {
        justify-content: space-between;
        background: var(--azul-AICO);
        color: var(--blanco);
    }

    .mov-nav {
        display: flex;
    }

    .mov-container {
        display: flex;
        height: 100%;
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
    }

    .mov-label {
        display: block;
        cursor: pointer;
    }

    .mov-item {
        color: var(--blanco);
        text-decoration: none;
    }

    .mov-menu {
        list-style: none;
        position: fixed;
        top: 60px;
        bottom: 0px;
        background: var(--azul-AICO);
        width: 50%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: unset;
        padding-left: 20px;

        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
        transition: clip-path 1s;
    }

    .mov-input {
        display: none;
    }

    .mov-input:checked + .mov-menu {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .mov-menu-icon {
        font-size: 2.5rem;
    }

    .title {
        margin-left: 10px;
    }
}
